.header {
  padding: 25px 0;
}

.header-bgimage {
  background-image: url("../../../../assets/bannerBG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 593px;
  border-radius: 32px;
  padding: 0 10px;
}

.header h1 {
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  padding-top: 74px;
  max-width: 600px;
  margin-left: 100px;
}

.header .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 100px !important;
  color: var(--foundation-grey-normal, #232323) !important;
  font-family: Archivo !important;
  background: var(--foundation-grey-light, #e9e9e9) !important;
}

.header .css-fvipm8 {
  border-radius: 100px !important;
  color: var(--foundation-grey-normal, #232323) !important;
  font-family: Archivo !important;
  background: var(--foundation-grey-light, #e9e9e9) !important;
  margin: 0 5px !important;
}

.header-item {
  display: flex;
  align-items: center;
  border-radius: 1000px;
  background: #fff;
  max-width: 790px;
  padding: 10px;
  margin-top: 42px;
  gap: 10px 15px;
  margin-left: 100px;
}

.header label {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}

.header input {
  border: none;
  outline: none;
  padding: 5px 12px;
  width: 100%;
}

.header input::placeholder {
  color: var(--foundation-grey-light-active, #bbb);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-list {
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 69px;
  margin-left: 60px;
}

.header-link {
  color: #fff;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-link-span {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #a65822;
}

.header-subname {
  margin-top: 5px;
}

@media (max-width: 780px) {
  .header input {
    padding: 12px 5px;
  }

  .header .css-1nrlq1o-MuiFormControl-root {
    display: none;
  }

  .header h1 {
    font-size: 55px;
    line-height: 70px;
  }

  .header-link:nth-child(6),
  .header-link:nth-child(7),
  .header-link:nth-child(8) {
    display: none;
  }
}

@media (max-width: 680px) {
  .header-link {
    font-size: 18px;
  }

  .header-link-span {
    width: 50px;
    height: 50px;
  }

  .header-icons {
    width: 25px;
    height: 25px;
  }

  .header h1 {
    font-size: 40px;
    line-height: 60px;
    margin-left: 20px;
  }

  .header-item {
    margin-left: 20px;
  }

  .header .css-vmru51-MuiFormControl-root {
    display: none;
  }
  .header-list {
    margin-left: 20px;
  }
}

@media (max-width: 520px) {
  .header-link:nth-child(5) {
    display: none;
  }

  .header h1 {
    font-size: 38px;
    line-height: 60px;
  }
}

@media (max-width: 455px) {
  .header h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .header-bgimage {
    min-height: 450px;
  }

  .header-item {
    margin-left: 0 !important;
  }
  .header h1 {
    margin-left: 10px !important;
  }
  .header-list {
    margin-left: 0 !important;
  }
  .header-link {
    height: 50px;
  }

  .header-subname {
    font-size: 14px;
  }

  .header-link:nth-child(4) {
    display: none;
  }
}
