.announcement-list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 48px 0;
  gap: 20px;
}

.announcement {
  margin-left: -35px;
}

.announcement-card {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 20px;
  border-radius: 20px;
  background: #f1f1f1;
  position: relative;
}

.card__right_title {
  width: 219px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card__medium {
  background: var(--foundation-orange-dark-active, #6d2f27) !important;
}

.card__new {
  background: #5bc4bd !important;
}

.card__right_subTitle {
  width: 177px;
  color: var(--foundation-grey-normal, #232323);
  font-family: Archivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin-top: -4px;
}

.card__right_blok {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blok__old {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #ff463a;
  text-decoration: none;
}

.blok__edit {
  display: flex;
  gap: 3px;
  padding: 4px 11px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  background: #fbd1cb;
  color: var(--foundation-orange-dark, #b64f41);
  text-align: center;
  font-family: Archivo;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.blok__backet {
  display: flex;
  padding: 5px 11px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  background: #fbd1cb;
  cursor: pointer;
}

.card__left__check {
  width: 50px;
  height: 20px;
  background: #21df61;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2.5px;
  cursor: pointer;
}

.announcement-picture {
  width: 148px;
  height: 163px;
}

.card__left__check:active {
  background: #c4c4c4;
}

.check__circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.check__circle:active {
  transform: translateX(-1.7rem);
  transition: 0.5s;
}

.card__cricle {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 20px;
}
