::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ddf8f0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(130deg, #f26957 0%, #ffa00e 100%);
}
